<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
</style>
<script src=""></script>
<body>
    <form action="/pbill" method="POST">
            <div class="input-group mb-3" style="width: 370px;
            transform: translate(527px, 64px);">
        <input type="text" name="pid" class="form-control" placeholder="Patient Id" aria-label="Recipient's username" aria-describedby="button-addon2" >
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
      </div>
    </form>


</body>
</html>